body{
    background-color:#4b9b80;
    text-align: center;
}
.c-item{
    height: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    font-weight: 600;   
    
}
.c-img{
    height: 100%;
    object-fit: cover;
    
}
.forma{
    background-color: rgb(158, 236, 178);
    width: 500px;
    height: fit-content;
    padding: 15px;
    border-radius: 25px;
    display: inline-block;
}
.formb{
    background-color: rgb(158, 236, 178);
    width: 500px;
    height: fit-content;
    padding: 15px;
    border-radius: 25px;
    display: inline-block;
}
.about-item{
    background-color: rgb(136, 194, 148);
}
.bar-items{
    justify-content: center;
    text-align: center;

}